.carousel {
	background-color: #23B7FB;
}

.header h1 {
	text-align: center;
	font-family: 'Proxima Nova';
	font-size: 70px;
	color: #5F2B63;
}

.team {
	text-align: center;
	margin-top: 5%;
}
/*.carousel-caption {
	color: white;
	margin-top: 5%;
	font-family: 'Proxima Nova';
}*/

.col-md-1 img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.list {
	margin: 10% 0 25% 0;
	color: white;
	font-family: 'Proxima Nova';
}

.list h3 {
	font-size: 50px;
	text-align: center;
}

.list li{
	font-size: 30px;
	margin-left: 40%;
}

#three {
	padding-left: 5%;
}

#odd {
	padding-right: 8%;
}

#one {
	padding-left: 5%;
}

